.text-faded-dark
{
    color: darken(#f4f4f4, 20%);
}

.text-faded-light
{
    color: #f4f4f4;
}

.text-foreground
{
    color: darken(#9b9b9b, 20%);
}  

.text-foreground-dark
{
    color: darken(#9b9b9b, 35%);
}  
    
