//Spacing
$nav-spacing: 0px;

//Colors
$color-leadsnare-button-background : rgba(255, 255, 255, 0.5);
$color-leadsnare-button-text : darken(#f1f1f1, 55%);
$color-leadsnare-button-border : darken(#f1f1f1, 55%);

//Sizing
$sizing-leadsnare-button-x: 20px;
$sizing-leadsnare-button-y: 15px;
$sizing-leadsnare-button-lh: 1em;
$sizing-leadsnare-button-br: 0px;
$sizing-leadsnare-button-text: 1.30em;

.navbar-general
{
    @extend .navbar;
}

.nav-item-mobile
{
    color: white;
    margin-top: 2px;
    @media screen and (min-width: 768px)
    {
	display: none;
    }
}

#navbar-mobile-toggler
{
    border: 1px solid #1a242f;
    background: transparent;

    &:hover
    {
	background: white;
	.bb-navbar-icon-bar
	{
	    background: black;
	}
    }
    border-radius: 4px;
    padding: 6px 7px;
}

.bb-navbar-icon-bar
{
    display: block;
    width: 22px;
    height: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
    border-radius: 1px;
}
